
.json-explorer(tabindex="0")

	span.path {{ path_expression }}

	table.attributes(ng-if='is_object')
		tr(
			ng-repeat='a in attrs'
			ng-class='{selected: $index==index}'
			)
			td {{ a.key  }}
			td {{ a.type }}
			td {{ a.display  }}

